h2 {
    margin: 0 0 .5rem;
    padding: 0;
    font-size: 0.75rem;
    letter-spacing: 0.7px;
    color: #555;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
    text-transform: uppercase;
    font-weight: normal;
  }

.sidebar {
    flex: 0 30%;
    max-width: 560px;
    background: #141416;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #252626;
    box-shadow: -2px 0px 8px rgba(0, 0, 0, .4);
    max-height: 100vh;
    overflow: hidden;
  }
  
  .sidebar h2,
  .scorebar h2 {
    padding: 0.75rem 0.75rem 0.5rem;
    margin: 0;
  }
  
  
  .chat {
    flex: 1 1 auto;
    overflow-x: hidden;
    /* overflow-y: auto;
    padding: 0 0 0.75rem 0.75rem;*/
  }
  
  .chat__line {
    padding: 0.25rem 0.5rem;
    background: #1a1b1c;
    color: #b0b0b0;
  }
  
  .chat__line--system {
    color: #808081;
    font-size: .8rem;
  }
  
  .chat__line:nth-of-type(odd) {
    background: #1d1e1f;
  }
  
  .chat__username {
    display: inline-block;
    font-weight: 600;
    margin-right: 0.5rem;
  }
  
  .message {
    border-top: 1px solid #2a2a2b;
    flex: 0 0 12.5%;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #141416 0, #1b1b1d 100%);
    z-index: 100;
  }
  
  textarea,
  input[type="text"],
  select {
    padding: 0.35rem 0.5rem;
    background: #020306;
    border-radius: 2px;
    resize: none;
    flex: 1 1 100%;
    border: none;
    color: #d0d0d0;
    font-family: "Segoe UI";
    font-size: 0.9rem;
    box-shadow: 0 0 2px 1px inset rgba(0, 0, 0, 1);
  }
  
  .message__actions {
    flex: 0;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }
  
  .submit {
    background: linear-gradient(to bottom, #1d4150 0, #1d4650 40%, #1d5045 100%);
    color: #fff;
    border-radius: 2px;
    padding: 0.7rem 0.75rem;
    border: 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, .6), 0 0 8px rgba(0, 0, 0, .4);
    margin-left: 0.25rem;
    align-self: center;
    transition: .1s linear all;
  }
  
  .submit:hover {
    background-size: 300% 300%;
  }
  
  
  /****** Emoticons ******/
  .sidebar__emoticons {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding: 0.25rem;
  }
  
  .emoticon {
    height: 32px;
    width: 32px;
    background: transparent;
    background-size: 100% 100%;
    background-repeat: none;
    background-position: center center;
    flex: 0 0 auto;
    margin: 3px;
    cursor: pointer;
  }
  
  span.emoticon {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  
  .emoticon--cool {
    background-image: url('../static/images/emoticons/cool.png');
  }
  
  .emoticon--crazy {
    background-image: url('../static/images/emoticons/crazy.png');
  }
  
  .emoticon--damn {
    background-image: url('../static/images/emoticons/damn.png');
  }
  
  .emoticon--geek {
    background-image: url('../static/images/emoticons/geek.png');
  }
  
  .emoticon--grin {
    background-image: url('../static/images/emoticons/grin.png');
  }
  
  .emoticon--huh {
    background-image: url('../static/images/emoticons/huh.png');
  }
  
  .emoticon--lol {
    background-image: url('../static/images/emoticons/lol.png');
  }
  
  .emoticon--love {
    background-image: url('../static/images/emoticons/love.png');
  }
  
  .emoticon--omg {
    background-image: url('../static/images/emoticons/omg.png');
  }
  
  .emoticon--pout {
    background-image: url('../static/images/emoticons/pout.png');
  }
  
  .emoticon--sad {
    background-image: url('../static/images/emoticons/sad.png');
  }
  
  .emoticon--smile {
    background-image: url('../static/images/emoticons/smile.png');
  }
  
  .emoticon--stars {
    background-image: url('../static/images/emoticons/stars.png');
  }
  
  .emoticon--ugh {
    background-image: url('../static/images/emoticons/ugh.png');
  }
  
  .emoticon--waiting {
    background-image: url('../static/images/emoticons/waiting.png');
  }
  
  .emoticon--whoopsy {
    background-image: url('../static/images/emoticons/whoopsy.png');
  }
  
  .emoticon--wink {
    background-image: url('../static/images/emoticons/wink.png');
  }
  
  .emoticon--wtf {
    background-image: url('../static/images/emoticons/wtf.png');
  }
  
  
  
  .message__actions button {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
    border: 0;
    cursor: pointer;
    mask-size: 2.0rem 2.0rem;
    background: #666;
    transition: .15s linear background;
  }
  
  .sidebar__polloptions {
    border-top: 1px solid #2a2a2b;
    padding: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: linear-gradient(to top, transparent 0, rgba(255, 255, 255, .03));
  
    animation: module-display 200ms ease-out forwards;
    z-index: 10;
  }
  
  .poll__info {
    color: #777;
    font-size: 0.75rem;
    padding: 0 0 0.5rem;
  }
  
  .poll__command {
    color: #999;
    font-family: Monospace;
    font-size: 0.75rem;
    background: rgba(0, 0, 0, .5);
    padding: 0.125rem 0.25rem;
    margin: 0.125rem .25rem 0.125rem 0;
    border-radius: 4px;
  }
  
  .poll__command .red {
    color: #ce5555;
  }
  
  .poll__command .blue {
    color: #5588ce;
  }
  
  .sidebar__settings {
    border-top: 1px solid #2a2a2b;
    padding: 0.75rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to top, transparent 0, rgba(255, 255, 255, .03));
    justify-content: flex-end;
  }
  
  @keyframes module-display {
    0% {
      transform: translate(0, 100%);
    }
  
    100% {
      transform: translate(0, 0%);
    }
  }
  
  .module-flex {
    animation: module-display 200ms ease-out both;
    z-index: 10;
  }
  
  .module-none {
    display: none;
  }
  
  
  
  .sidebar__settings input,
  .sidebar__settings select {
    margin: 0 .25rem 0.5rem;
    flex: 1 1 auto;
  }
  
  .sidebar__settings input[type="submit"] {
    padding: 0.6rem 0.5rem;
    flex: 0 0 auto;
    align-content: flex-end;
  }
  
  .sidebar__settings h2,
  .sidebar__polloptions h2 {
    flex: 1 1 100%;
  }
  
  .message__actions button:hover {
    background: #bcbca0;
  }
  
  .message__actions .settings {
    mask: url('../static/images/icons/settings.png') center center/2.0rem 2.0rem no-repeat;
  }
  
  .message__actions .new {
    mask: url('../static/images/icons/new.png') center center/2.0rem 2.0rem no-repeat;
  }
  
  .message__actions .poll {
    mask: url('../static/images/icons/poll.png') center center/2.0rem 2.0rem no-repeat;
  }
  
  .message__actions .emoticons {
    mask: url('../static/images/icons/emoticons.png') center center/2.0rem 2.0rem no-repeat;
  }
  
  .flex-spacer {
    flex: 1 1 auto;
  }
  
  


.settings__flexbox {
    display: flex;
    flex-wrap: wrap;
  }
  
  .setting__input {
    flex: 1 1 50%;
    display: flex;
  }
  
  .setting__checkbox {
    white-space: nowrap;
    flex: 1 1 50%;
    color: #78787a;
  }
  
  .setting__submit {
    flex: 1 1 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .checkbox {
    display: inline-block;
    width: 24px;
    position: relative;
    margin: 8px 8px 8px 4px;
  }
  
  .checkbox label {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #000 0%, #121213 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, .2);
  }
  
  .checkbox label:after {
    content: '';
    width: 11px;
    height: 7px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #cdcdce;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
  }
  
  .checkbox label:hover::after {
    opacity: 0.3;
  }
  
  .checkbox input[type=checkbox] {
    visibility: hidden;
  }
  
  .checkbox input[type=checkbox]:checked+label:after {
    opacity: 1;
  }
  
  
  /* START TOOLTIP STYLES */
  [tooltip] {
    position: relative;
    /* opinion 1 */
  }
  
  /* Applies to all tooltips */
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none;
    /* opinion 2 */
    font-size: .9em;
    /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  
  [tooltip]::before {
    content: '';
    border: 5px solid transparent;
    /* opinion 4 */
    z-index: 1001;
    /* absurdity 1 */
  }
  
  [tooltip]::after {
    content: attr(tooltip);
    /* magic! */
  
    /* most of the rest of this is opinion */
    text-align: center;
  
    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 2.5em;
    max-width: 30em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .5rem;
    border-radius: .2rem;
    box-shadow: 0 0em 8px 4px rgba(0, 0, 0, 0.5), 0 0em 1px 1px rgba(255, 255, 255, 0.2);
    background: #2c2d2f;
    color: #a6a6a6;
    font-size: 0.8rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
    z-index: 1000;
    /* absurdity 2 */
    font-weight: 200;
  }
  
  /* Make the tooltips respond to hover */
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  
  /* FLOW: UP */
  [tooltip]:not([flow])::before,
  [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #2c2d2f;
  }
  
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  
  [tooltip]:not([flow])::before,
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::before,
  [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }
  
  /* FLOW: DOWN */
  [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #2c2d2f;
  }
  
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
  
  /* FLOW: LEFT */
  [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #2c2d2f;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
  }
  
  [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }
  
  /* FLOW: RIGHT */
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #2c2d2f;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }
  
  /* KEYFRAMES */
  @keyframes tooltips-vert {
    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }
  
  /* FX All The Things */
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after,
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 200ms ease-out forwards;
    animation-delay: .5s;
  }
  
  [tooltip][flow^="left"]:hover::before,
  [tooltip][flow^="left"]:hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 200ms ease-out forwards;
    animation-delay: .5s;
  }