body {
  background: #1e1e20;
  padding: 0;
  margin: 0;
  text-align: left;
  height: 100vh;
  color: #d1d4d8;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
  line-height: 1.5;

}

.container {
  display: flex;
  height: 100%;
}

main {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.top {
  position: relative;
  width: 100%;
}

.top_message {
  padding: 2.5rem 0 0;
  font-size: 42px;
  font-weight: 200;
  color: #8c9297;
  text-align: center;
}

.toast_container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.toast_container ol {
  top: unset !important;
  left: unset !important;
  position: relative !important;
  max-width: unset !important;
}

.toast_container ol,
.toast_container li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.toast_container h1 {
  display: none;
}

.toast_container p {
  text-align: center;
  padding: 1.0rem;
  font-size: 40px;
  font-weight: 200;
  margin: 0;
  /* animation: flash-message 3.0s forwards; */
}

@keyframes flash-message {
  0% {
    font-size: 40px;
    opacity: 0.0;
  }

  20% {
    font-size: 50px;
    opacity: 0.6;
  }

  80% {
    font-size: 50px;
    opacity: 0.6;
  }

  100% {
    font-size: 50px;
    opacity: 0;
  }
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.toasty-container {
  cursor: pointer;
}

.toasty-title {
  font-size: 1em;
  margin: 0;
}

.toasty-message {
  font-size: 0.9em;
  margin-top: 0.5em;
  margin-bottom: 0;
}


.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounceInRight {

  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate(0, 100px);
  }

  60% {
    transform: translate(0, -20px);
  }

  75% {
    opacity: 1;
    transform: translate(0, 8px);
  }

  90% {
    transform: translate(0, -4px);
  }

  to {
    transform: none;
  }
}

.bounceInRight {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: bounceInRight;
}

@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate(0, -200px);
  }
}

.fadeOutRightBig {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeOutRightBig;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.requests {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.requests>div {
  flex: 0 0 auto;
  font-size: 1.3rem;
  padding: 1.0rem 1.5rem;
  ;
}

.game_buttons {
  margin-left: auto;
  padding-right: 0 !important;
}

.help_buttons {
  padding-left: 0 !important;
}


.button,
input[type="submit"],
input[type="button"],
button {
  -webkit-appearance: button;
  background: #6688ba;
  color: #fdfdfe;
  font-weight: 400;
  margin: 0.25rem;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  line-height: 1;
  box-sizing: unset;
  overflow: visible;
  font-size: 18px;
  font-family: inherit;
}

.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  background: #5778ab;
  color: #fdfdfe;
  cursor: pointer;
}

.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
button:focus {
  color: #fafcfc;
  border: 1px solid #eaeaea;
  border-color: rgba(255, 255, 255, .3);
}

button#help {
  background: transparent;
  background-image: url('../static/images/icons/help.svg');
  font-size: 0;
  height: 2.25rem;
  width: 2.25rem;
  padding: 0.25rem;
  background-size: 2.25rem 2.25rem;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: none;
  border: 0;
  opacity: 0.35;
  transition: .15s linear opacity;
}

button#help:hover {
  opacity: 1;
}

.player-colors {
  display: flex;
  flex-wrap: wrap;
}

.player-colors__row {
  flex: 1 1 100%;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}

.player-colors__row span {
  margin-left: 0.75rem;
  font-size: 1.3rem;
  font-weight: 300;
  color: rgba(255, 255, 255, .6);
}


.player-colors__row span.bold {
  font-weight: 600;
}

.player-colors__row span em {
  color: rgba(200, 200, 200, .5);
  font-style: normal;
  margin-left: .35rem;
  font-weight: 300;
}

.grid {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 2.5rem;
  flex: 1 1 100%;
}


.c {
  flex: 1 1 7.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.c:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.s {
  height: 1.5vw;
  width: 1.5vw;
  border: 2px solid rgba(255, 255, 255, .2);
  background: rgba(255, 255, 255, .1);
  border-radius: 100px;
  transition: .15s linear all;
  cursor: pointer;
}

.s:hover {
  border: 2px solid rgba(255, 255, 255, .6);
  background: #878889;
  box-shadow: 0 0 4px rgba(0, 30, 100, 0.2);
}

.red {
  border-color: rgba(211, 64, 76, 1) !important;
  background: rgba(211, 64, 76, .5) !important;
  cursor: default;
}

.blue {
  border-color: rgba(33, 116, 211, 1) !important;
  background: rgba(33, 116, 211, .5) !important;
  cursor: default;
}

.pulse {
  animation: shadow-pulse 1.5s infinite;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.18);
  }

  100% {
    box-shadow: 0 0 2px 15px rgba(255, 255, 255, 0);
  }
}

.lightbox {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 65534;
}

.modal {
  background: #1a1c1f;
  border: 1px solid #323539;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.0rem 1.0rem 1.5rem 1.0rem;
  border-radius: 8px;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, .4);
  max-width: 60%;
  min-width: 30%;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25rem 0.25rem 1.5rem 0.25rem;
}

.flex_container h2 {
  flex: 1 1 100%;  
}

.flex_container h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 0 0.5rem;
  padding: 0;
}

.flex_container h4 {
  font-size: 26px;
  font-weight: 200;
  margin: 1.0rem 0.5rem;
  padding: 0;
}

.modal_red {
  font-size: 26px;
  font-weight: 200;
  flex: 0 0 50%;
  color: rgba(206, 94, 106, 1);
  text-align: center;
  cursor: pointer;
  transition: .25s linear transform;
}

.modal_red h3 {
  color: rgba(206, 94, 106, .8) !important;
  text-align: center;
}

.modal_blue {
  flex: 0 0 50%;
  color: rgba(94, 106, 206, 1);
  text-align: center;
  cursor: pointer;
  transition: .15s linear transform;
}


.modal_blue:hover h4,
.modal_red:hover h4 {
  transform: scale(1.1)
}

.modal .pad {
  padding: 1.0rem;
}

.modal_red.inactive,
.modal_blue.inactive {
  cursor: default;
}

.modal_red.inactive:hover h4,
.modal_blue.inactive:hover h4 {
  transform: none !important;
}

.modal_blue h3 {
  color: rgba(94, 106, 206, 0.8) !important;
  text-align: center;
}

.modal_spectators {
  padding-top: 1.5rem;
  flex: 1 1 100%;
  color: #7a7b7c;
}

.modal_spectators h3 {
  text-align: center;
}

.modal p {
  flex: 1 1 100%;
}

.help--canoes {
  flex: 1 1 auto;
  display: block;
  height: 250px;
  max-width: 702px;
  border-radius: 8px;
  background-image: url('../static/images/canoes-help.png');
  background-repeat: no-repeat;
  border: 1px solid #2a2b2c;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
  margin: 1.0rem 0;
}